In [127]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [128]:
data=pd.read_csv("C:\\Users\\USER\\OneDrive\\DATAMITES\\HousePrice-Prediction-V1\\data\\train.csv")

In [129]:
data.head(5)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [130]:
dropcol=((data.isnull().sum()/data.shape[0])*100)
print(dropcol[dropcol>30])

Alley          93.767123
MasVnrType     59.726027
FireplaceQu    47.260274
PoolQC         99.520548
Fence          80.753425
MiscFeature    96.301370
dtype: float64

In [131]:
data.isnull().sum()

Id                 0
MSSubClass         0
MSZoning           0
LotFrontage      259
LotArea            0
                ...
MoSold             0
YrSold             0
SaleType           0
SaleCondition      0
SalePrice          0
Length: 81, dtype: int64

In [132]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 81 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             1460 non-null   int64
 1   MSSubClass     1460 non-null   int64
 2   MSZoning       1460 non-null   object
 3   LotFrontage    1201 non-null   float64
 4   LotArea        1460 non-null   int64
 5   Street         1460 non-null   object
 6   Alley          91 non-null     object
 7   LotShape       1460 non-null   object
 8   LandContour    1460 non-null   object
 9   Utilities      1460 non-null   object
 10  LotConfig      1460 non-null   object
 11  LandSlope      1460 non-null   object
 12  Neighborhood   1460 non-null   object
 13  Condition1     1460 non-null   object
 14  Condition2     1460 non-null   object
 15  BldgType       1460 non-null   object
 16  HouseStyle     1460 non-null   object
 17  OverallQual    1460 non-null   int64
 18  OverallCond    1460 non-null   int64
 19  YearBuilt      1460 non-null   int64
 20  YearRemodAdd   1460 non-null   int64
 21  RoofStyle      1460 non-null   object
 22  RoofMatl       1460 non-null   object
 23  Exterior1st    1460 non-null   object
 24  Exterior2nd    1460 non-null   object
 25  MasVnrType     588 non-null    object
 26  MasVnrArea     1452 non-null   float64
 27  ExterQual      1460 non-null   object
 28  ExterCond      1460 non-null   object
 29  Foundation     1460 non-null   object
 30  BsmtQual       1423 non-null   object
 31  BsmtCond       1423 non-null   object
 32  BsmtExposure   1422 non-null   object
 33  BsmtFinType1   1423 non-null   object
 34  BsmtFinSF1     1460 non-null   int64
 35  BsmtFinType2   1422 non-null   object
 36  BsmtFinSF2     1460 non-null   int64
 37  BsmtUnfSF      1460 non-null   int64
 38  TotalBsmtSF    1460 non-null   int64
 39  Heating        1460 non-null   object
 40  HeatingQC      1460 non-null   object
 41  CentralAir     1460 non-null   object
 42  Electrical     1459 non-null   object
 43  1stFlrSF       1460 non-null   int64
 44  2ndFlrSF       1460 non-null   int64
 45  LowQualFinSF   1460 non-null   int64
 46  GrLivArea      1460 non-null   int64
 47  BsmtFullBath   1460 non-null   int64
 48  BsmtHalfBath   1460 non-null   int64
 49  FullBath       1460 non-null   int64
 50  HalfBath       1460 non-null   int64
 51  BedroomAbvGr   1460 non-null   int64
 52  KitchenAbvGr   1460 non-null   int64
 53  KitchenQual    1460 non-null   object
 54  TotRmsAbvGrd   1460 non-null   int64
 55  Functional     1460 non-null   object
 56  Fireplaces     1460 non-null   int64
 57  FireplaceQu    770 non-null    object
 58  GarageType     1379 non-null   object
 59  GarageYrBlt    1379 non-null   float64
 60  GarageFinish   1379 non-null   object
 61  GarageCars     1460 non-null   int64
 62  GarageArea     1460 non-null   int64
 63  GarageQual     1379 non-null   object
 64  GarageCond     1379 non-null   object
 65  PavedDrive     1460 non-null   object
 66  WoodDeckSF     1460 non-null   int64
 67  OpenPorchSF    1460 non-null   int64
 68  EnclosedPorch  1460 non-null   int64
 69  3SsnPorch      1460 non-null   int64
 70  ScreenPorch    1460 non-null   int64
 71  PoolArea       1460 non-null   int64
 72  PoolQC         7 non-null      object
 73  Fence          281 non-null    object
 74  MiscFeature    54 non-null     object
 75  MiscVal        1460 non-null   int64
 76  MoSold         1460 non-null   int64
 77  YrSold         1460 non-null   int64
 78  SaleType       1460 non-null   object
 79  SaleCondition  1460 non-null   object
 80  SalePrice      1460 non-null   int64
dtypes: float64(3), int64(35), object(43)
memory usage: 924.0+ KB

In [133]:
data.drop(['Alley','MasVnrType','FireplaceQu','PoolQC','Fence','MiscFeature'],axis=1,inplace=True)

In [134]:
data.head(10)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,...,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,Reg,Lvl,AllPub,Inside,...,0,0,0,0,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,Reg,Lvl,AllPub,FR2,...,0,0,0,0,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,IR1,Lvl,AllPub,Inside,...,0,0,0,0,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,IR1,Lvl,AllPub,Corner,...,272,0,0,0,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,IR1,Lvl,AllPub,FR2,...,0,0,0,0,0,12,2008,WD,Normal,250000
5,6,50,RL,85.0,14115,Pave,IR1,Lvl,AllPub,Inside,...,0,320,0,0,700,10,2009,WD,Normal,143000
6,7,20,RL,75.0,10084,Pave,Reg,Lvl,AllPub,Inside,...,0,0,0,0,0,8,2007,WD,Normal,307000
7,8,60,RL,NaN,10382,Pave,IR1,Lvl,AllPub,Corner,...,228,0,0,0,350,11,2009,WD,Normal,200000
8,9,50,RM,51.0,6120,Pave,Reg,Lvl,AllPub,Inside,...,205,0,0,0,0,4,2008,WD,Abnorml,129900
9,10,190,RL,50.0,7420,Pave,Reg,Lvl,AllPub,Corner,...,0,0,0,0,0,1,2008,WD,Normal,118000

In [135]:
for column in data.columns:
        if data[column].dtype in ['int64', 'float64']:
            mean_value = data[column].mean()
            data[column].fillna(mean_value, inplace=True)
        elif data[column].dtype == 'object':
            mode_value = data[column].mode()[0]
            data[column].fillna(mode_value, inplace=True)

C:\Users\USER\AppData\Local\Temp\ipykernel_24720\50620349.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data[column].fillna(mean_value, inplace=True)
C:\Users\USER\AppData\Local\Temp\ipykernel_24720\50620349.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data[column].fillna(mode_value, inplace=True)

In [136]:
data.head(5)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,...,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,Reg,Lvl,AllPub,Inside,...,0,0,0,0,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,Reg,Lvl,AllPub,FR2,...,0,0,0,0,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,IR1,Lvl,AllPub,Inside,...,0,0,0,0,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,IR1,Lvl,AllPub,Corner,...,272,0,0,0,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,IR1,Lvl,AllPub,FR2,...,0,0,0,0,0,12,2008,WD,Normal,250000

In [137]:
data.isnull().sum()

Id               0
MSSubClass       0
MSZoning         0
LotFrontage      0
LotArea          0
                ..
MoSold           0
YrSold           0
SaleType         0
SaleCondition    0
SalePrice        0
Length: 75, dtype: int64

In [138]:
data.shape

(1460, 75)

In [139]:
numeric_cols = data.select_dtypes(include=[int, float]).columns
def remove_outliers_iqr(df, cols):
    for col in cols:
        Q1 = df[col].quantile(0.25)
        Q3 = df[col].quantile(0.75)
        IQR = Q3 - Q1
        lower_bound = Q1 - 1.5 * IQR
        upper_bound = Q3 + 1.5 * IQR
        df = df[(df[col] >= lower_bound) & (df[col] <= upper_bound)]
    return df
clean_data = remove_outliers_iqr(data, numeric_cols)

In [140]:
skewed = data.select_dtypes(include=[int, float]).skew()
print(skewed.sort_values(ascending=False))

MiscVal          24.476794
PoolArea         14.828374
LotArea          12.207688
3SsnPorch        10.304342
LowQualFinSF      9.011341
KitchenAbvGr      4.488397
BsmtFinSF2        4.255261
ScreenPorch       4.122214
BsmtHalfBath      4.103403
EnclosedPorch     3.089872
MasVnrArea        2.676412
LotFrontage       2.384950
OpenPorchSF       2.364342
SalePrice         1.882876
BsmtFinSF1        1.685503
WoodDeckSF        1.541376
TotalBsmtSF       1.524255
MSSubClass        1.407657
1stFlrSF          1.376757
GrLivArea         1.366560
BsmtUnfSF         0.920268
2ndFlrSF          0.813030
OverallCond       0.693067
TotRmsAbvGrd      0.676341
HalfBath          0.675897
Fireplaces        0.649565
BsmtFullBath      0.596067
OverallQual       0.216944
MoSold            0.212053
BedroomAbvGr      0.211790
GarageArea        0.179981
YrSold            0.096269
FullBath          0.036562
Id                0.000000
GarageCars       -0.342549
YearRemodAdd     -0.503562
YearBuilt        -0.613461
GarageYrBlt      -0.668175
dtype: float64

In [141]:
data.head(5)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,...,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,Reg,Lvl,AllPub,Inside,...,0,0,0,0,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,Reg,Lvl,AllPub,FR2,...,0,0,0,0,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,IR1,Lvl,AllPub,Inside,...,0,0,0,0,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,IR1,Lvl,AllPub,Corner,...,272,0,0,0,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,IR1,Lvl,AllPub,FR2,...,0,0,0,0,0,12,2008,WD,Normal,250000

In [142]:
data=pd.get_dummies(data,columns=data.select_dtypes(include=object).columns, drop_first=True)

In [143]:
data.head(5)

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,SaleType_ConLI,SaleType_ConLw,SaleType_New,SaleType_Oth,SaleType_WD,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial
0,1,60,65.0,8450,7,5,2003,2003,196.0,706,...,False,False,False,False,True,False,False,False,True,False
1,2,20,80.0,9600,6,8,1976,1976,0.0,978,...,False,False,False,False,True,False,False,False,True,False
2,3,60,68.0,11250,7,5,2001,2002,162.0,486,...,False,False,False,False,True,False,False,False,True,False
3,4,70,60.0,9550,7,5,1915,1970,0.0,216,...,False,False,False,False,True,False,False,False,False,False
4,5,60,84.0,14260,8,5,2000,2000,350.0,655,...,False,False,False,False,True,False,False,False,True,False

In [144]:
X = data.drop('SalePrice', axis=1)
y = data['SalePrice']
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)
X = pd.DataFrame(X_scaled, columns=X.columns)

In [145]:
data.head(5)

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,SaleType_ConLI,SaleType_ConLw,SaleType_New,SaleType_Oth,SaleType_WD,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial
0,1,60,65.0,8450,7,5,2003,2003,196.0,706,...,False,False,False,False,True,False,False,False,True,False
1,2,20,80.0,9600,6,8,1976,1976,0.0,978,...,False,False,False,False,True,False,False,False,True,False
2,3,60,68.0,11250,7,5,2001,2002,162.0,486,...,False,False,False,False,True,False,False,False,True,False
3,4,70,60.0,9550,7,5,1915,1970,0.0,216,...,False,False,False,False,True,False,False,False,False,False
4,5,60,84.0,14260,8,5,2000,2000,350.0,655,...,False,False,False,False,True,False,False,False,True,False

In [146]:
data_test=pd.read_csv("C:\\Users\\USER\\OneDrive\\DATAMITES\\HousePrice-Prediction-V1\\data\\test.csv")

In [147]:
data_test.head(5)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal

In [148]:
dropcol=((data_test.isnull().sum()/data_test.shape[0])*100)
print(dropcol[dropcol>30])

Alley          92.666210
MasVnrType     61.274846
FireplaceQu    50.034270
PoolQC         99.794380
Fence          80.123372
MiscFeature    96.504455
dtype: float64

In [149]:
data_test.drop(['Alley','MasVnrType','FireplaceQu','PoolQC','Fence','MiscFeature'],axis=1,inplace=True)

In [150]:
numeric_cols = data_test.select_dtypes(include=[int, float]).columns
def remove_outliers_iqr(df, cols):
    for col in cols:
        Q1 = df[col].quantile(0.25)
        Q3 = df[col].quantile(0.75)
        IQR = Q3 - Q1
        lower_bound = Q1 - 1.5 * IQR
        upper_bound = Q3 + 1.5 * IQR
        df = df[(df[col] >= lower_bound) & (df[col] <= upper_bound)]
    return df
clean_data = remove_outliers_iqr(data_test, numeric_cols)

In [151]:
skewed = data_test.select_dtypes(include=[int, float]).skew()
print(skewed.sort_values(ascending=False))

PoolArea         20.196888
MiscVal          20.075188
LowQualFinSF     16.167254
3SsnPorch        12.524216
EnclosedPorch     4.669172
KitchenAbvGr      4.079055
BsmtFinSF2        4.041345
ScreenPorch       3.788244
BsmtHalfBath      3.779866
LotArea           3.115217
OpenPorchSF       2.687779
MasVnrArea        2.533377
WoodDeckSF        2.130760
1stFlrSF          1.558195
MSSubClass        1.346690
BsmtFinSF1        1.165677
GrLivArea         1.130402
BsmtUnfSF         0.919916
2ndFlrSF          0.912883
TotRmsAbvGrd      0.842597
Fireplaces        0.819858
TotalBsmtSF       0.813589
HalfBath          0.714728
LotFrontage       0.661921
BsmtFullBath      0.649698
OverallCond       0.449165
BedroomAbvGr      0.436623
GarageArea        0.300239
FullBath          0.295839
MoSold            0.183022
OverallQual       0.181196
YrSold            0.168986
Id                0.000000
GarageCars       -0.107142
GarageYrBlt      -0.158363
YearRemodAdd     -0.399906
YearBuilt        -0.587657
dtype: float64

In [152]:
data_test=pd.get_dummies(data_test,columns=data_test.select_dtypes(include=object).columns, drop_first=True)

In [153]:
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_valid)

In [154]:
print(type(data))

<class 'pandas.core.frame.DataFrame'>

In [155]:
data = pd.DataFrame(data)

In [156]:
X = data.drop('SalePrice', axis=1) 
y = data['SalePrice']

In [157]:
from sklearn.model_selection import train_test_split

X_train, X_valid, y_train, y_valid = train_test_split(X, y, test_size=0.2, random_state=4)

In [158]:
print(type(data))

<class 'pandas.core.frame.DataFrame'>

In [159]:
from sklearn.linear_model import LinearRegression

model = LinearRegression()
model.fit(X_train, y_train)
y_pred = model.predict(X_valid)

In [160]:
y_pred

array([ 231280.24985366,  212482.57653238,  144941.8133955 ,
        127286.83483117,  110896.62076033,  195899.76991417,
        223157.69757632,  250372.91813096,  198710.38336849,
        194598.56582715,  143608.45799408,  226067.13795645,
        136179.95516506,  131545.23998567,  148803.80565792,
        318901.92166773,  124278.26593079,  148949.3678659 ,
        204423.65748097,  135706.99441963,  305169.45310527,
        203843.0443041 ,  229518.46348331,  312617.67058899,
        247078.70969408,  111657.88873253,  175503.83539587,
        476666.02421105,  108895.0772548 ,   94727.91721127,
        319896.79363366,  144216.85037696,  335775.73481246,
        200343.14934098,  104833.88616159,   82954.8162768 ,
        166429.53078574,  201540.73134037,  475280.79903122,
        123847.43168346,  153395.28664929,  167255.99208796,
        108969.02933946,  162974.14403366,  146665.22942893,
        302004.60356853,  202064.95294649,  142974.78931669,
        223985.06663433,  110914.93324317,  184611.0321208 ,
        101789.75190154,  220453.9705597 ,  100847.80221452,
        159889.22258338,  169357.30359848,  145630.77780251,
        166725.62726536,  225283.54703755,   94663.67875346,
        381216.89957245,  166954.67187105,  162651.7498769 ,
        232452.82204586,  263240.81514258,    5910.56401757,
        154053.43653614,  183985.58881946,  198964.96091629,
        242456.22473341,  -26166.29779269,  213000.42383311,
         97762.34520363,  158524.07763803,  136165.56351718,
        153174.62497924,  336365.98576945,  112523.8887917 ,
        136168.04365279,  226013.09046176,  177583.02244507,
        243131.01560228,   87675.9512092 ,  158482.69720335,
        135151.13642136,  155462.36514901,  230101.75620121,
        369738.7243623 ,  163478.14384571,  152172.68861301,
        139777.1420437 ,  213909.0056825 ,  134486.53282809,
        130258.72604952,  200023.02822953,  129083.77783797,
        105005.90295409,  322941.73273762,  139573.22265251,
        175416.20623929,  135769.90219434,   86219.55127585,
         88859.44902103,  205401.85419124,  128283.70199746,
        229308.62745031,   86684.10772025,  135733.20975153,
        167441.16882517,   98299.90960647,  133519.09615035,
        150390.33452279,  272524.53127595,  184401.02962076,
        120671.23422794,  152165.56598708,  177126.1632258 ,
        153008.5865212 ,  298906.65139557,  123742.09267971,
        106791.3135807 ,  135621.7274397 ,  224913.46902352,
        230951.82629867,  159303.93225842,  215030.62176534,
        237328.61871353,  328260.07772036,  315454.49728782,
        152610.58734446,  224595.24297286,  163064.26358038,
        236633.60755431,  105631.61235559,  200983.05282597,
        233912.41085001,  150647.02822004,  104031.68041458,
        181958.21662252,  305529.07119267,  179278.77067898,
        134430.80032472,   57895.48773942,  122777.57018629,
        158035.04356587,  110058.41519714,  162718.72952696,
        137028.70279019,  178623.63407422,  166726.81254398,
        175248.33609957,  248801.18213383,  297777.92232309,
        227076.48670719,  136613.10923377,  398038.79338416,
        131587.69175807,  260131.62582201,  122238.74108967,
        180244.22056643,  112755.05926503,  234594.64529364,
        153588.55224906,  224024.41065887,  177831.81544103,
        253018.92660843,  158216.02183105,   92311.59973357,
        126907.19546923,  144543.70203434,  140836.08036894,
        135928.35890625,  473018.74852154,  133790.70155072,
        173915.57403113,  220149.2921779 ,  299787.5738524 ,
        103074.6108631 ,   24904.26093707,  255840.97147817,
        127127.42867827,  138397.59395838,  111142.40900124,
        213089.83657942,  159974.09536929,  118557.35893496,
        241956.15314119,  213419.44063043,  216857.25013267,
        132041.39904106,  339596.07315346,  117828.93969361,
        151032.36122748,  128296.31201847,  123129.84584996,
        168980.44885531,  124563.83011337,  133157.90881975,
        126182.434734  ,  185831.91711005,  231380.38971844,
        259948.53826562,  233172.97074763,  116803.76357073,
        216954.87271553,  316608.18374342,  131245.02578785,
        169822.64487941,   80035.07934197,  225390.1742986 ,
        147442.41590326,  135160.53877497,  180989.54663158,
        148569.15700304,  172053.63371345,  130774.39231548,
        151270.49438186,  153613.80077285,  243084.70164795,
        124536.16066432,  371494.95495521,  155112.77688574,
        135862.5949452 ,  122676.99655907,  173806.72136013,
         81579.07931102,  140531.1950848 ,  300448.55934239,
        128596.77102302,  168390.76121119,  238830.83578281,
        167658.21120791,  100034.73985247,  200612.29147181,
        130889.08318689,   91117.71788469,  196412.19257271,
        119844.68736331,  101142.97129995,   77172.10852792,
        134400.09543686,  170403.82011181,  278390.75578743,
        114029.05815683,  233815.91844848,   58266.78755624,
        309376.76730574,  290246.17402774,  141993.45172014,
        317519.68493692,  197400.59515293,  146917.01592584,
        141392.50308114,  177503.95553266,  177104.28764699,
        131477.78427399,  197650.86271765,  252290.09622799,
        182603.70186996,  148774.86587823,  136750.58589095,
        134354.19753416,  124261.65218694,  306555.55813658,
        180461.77322099,  150725.63540701,   95973.73631007,
        301563.410092  ,  214243.63948572,  174315.92984776,
         96422.7463124 ,  288307.75817196,  195331.39460006,
        263575.27231127, -612672.38204337,  165897.17363288,
        193786.15083571,   48209.12215136,  203699.34011906,
         94780.48080236,  165919.56840652,  119168.26286879,
        242134.01941471,  433126.86583256,  150237.11902158,
        219619.13052323,  196011.39851797,  188170.90714063,
        144926.10018137,  311570.1518109 ,   88380.62795863,
        175938.26024107])

In [161]:
from sklearn.metrics import r2_score,mean_squared_error,mean_absolute_error
r2score=r2_score(y_valid,y_pred)

In [162]:
r2score

0.5000054329813555

In [163]:
X_valid.shape

(292, 230)

In [164]:
adjusted_r2 = 1-(1-0.90)*(40-3)/(40-3-1)
adjusted_r2

0.8972222222222223

In [165]:
import math
print(mean_squared_error(y_valid,y_pred))
print(math.sqrt(mean_squared_error(y_valid,y_pred)))

2775976443.7691565
52687.53594323003

In [166]:
import math
print(mean_squared_error(y_valid,y_pred))
print(math.sqrt(mean_squared_error(y_valid,y_pred)))

2775976443.7691565
52687.53594323003